<aside>
  <ul class="layui-nav layui-nav-tree layui-nav-side" lay-filter="test">
    <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
    <li class="layui-nav-item list" data='cate'>
      <a href="javascript:;">分类</a>
      <dl class="layui-nav-child">
        <dd><a href="/admin/addcate">添加分类</a></dd>
        <dd><a href="/admin/catelist">管理分类</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item layui-nav-itemed list" data='tech'>
      <a href="javascript:;">教程</a>
      <dl class="layui-nav-child">
        <dd><a href="/admin/addtech">添加教程</a></dd>
        <dd><a href="/admin/techlist">管理教程</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item list" data='needdo'>
      <a href="javascript:;">待办事项</a>
      <dl class="layui-nav-child">
        <dd><a href="/admin/checkpic">审核帖子</a></dd>
        <dd><a href="/admin/checkdcuss">审核评论</a></dd>
        <dd><a href="/admin/checklink">审核友情链接</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item"><a href="javascript:;">管理帖子</a> </li>
    <li class="layui-nav-item list" data='set'>
      <a href="javascript:;">设置</a>
      <dl class="layui-nav-child">
        <dd><a href="">系统设置</a></dd>
        <dd><a href="">个人资料</a></dd>
        <dd><a href="">安全设置</a></dd>
      </dl>
    </li>
  </ul>
</aside>