<footer>
    <p>© 2018 </p>
    <a href="/admin">synote.com</a>|
    <a href="###">联系</a>|
    <a href="###">支持</a>|
    <a href="###">蜀ICP备xxxxxx号-2</a>
    <br>
    <img src="/img/team.svg" alt="">
    <a href="">少年游&nbsp;&nbsp;&nbsp;提供技术支持</a>
</footer>
</article>
<script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/layui/layui.all.js"></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe654;</i></button>
      <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete"><i class="layui-icon">&#xe640;</i></button>
      <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
    </div>
  </script>
<script src="/js/admin.js"></script>
</body>
</html>