<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员界面</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/adhome.css">
</head>
<body>
    <header>
        <ul class="layui-nav topnav" lay-filter="">
            <li class="layui-nav-item"><a href="/admin">主页</a></li>
            <li class="layui-nav-item "><a href="">产品</a></li>
            <li class="layui-nav-item"><a href="">设计</a></li>
            <li class="layui-nav-item">
              <a href="javascript:;">解决方案</a>
              <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">移动模块</a></dd>
                <dd><a href="">后台模版</a></dd>
                <dd><a href="">电商平台</a></dd>
              </dl>
            </li>
            <li class="layui-nav-item"><a href="">热度观测</a></li>
              <li class="layui-nav-item admin">
                <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img"><%=username%></a>
                <dl class="layui-nav-child">
                  <dd><a href="javascript:;">基本资料</a></dd>
                  <dd><a href="javascript:;">安全管理</a></dd>
                  <dd><a href="javascript:;">朕乏了</a></dd>
                </dl>
              </li>
              <li class="layui-nav-item admin">
                <a href="">待审核<span class="layui-badge">9</span></a>
            </li>
          </ul>
    </header>