<% include head.html%>
<% include aside.html%>
<article class="layui-body">
    <!-- <table id="catetable" lay-filter="test"></table> -->
    <table lay-filter="techlist" class="techlist">
        <thead>
          <tr>
            <th lay-data="{field: 'check', title: '选择框', type:'checkbox', width:80, fixed: 'left'}"></th>
            <th lay-data="{field: 'id', title: '教程ID', width:100, sort: true,align:'center'}">教程ID</th>
            <th lay-data="{field: 'title', title: '教程名', width:100}">教程名</th>
            <th lay-data="{field: 'catename', title: '教程分类', width:100}">教程分类</th>
            <th lay-data="{field: 'techcon', title: '教程内容', width:100}">教程内容</th>
            <th lay-data="{field: 'keywords', title: '关键词', width:100}">关键词</th>
            <th lay-data="{field: 'comefrom', title: '来源', width:100}"></th>
            <th lay-data="{field: 'author', title: '发布者', width:100}">发布者</th>
            <th lay-data="{field: 'time', title: '发布时间', width:180, sort: true}">发布时间</th>
            <th lay-data="{field: 'action', title: '操作', width:118,align:'left'}">操作</th>
          </tr> 
        </thead>
        <tbody>
            <% for (let t of techlist){ %>
            <tr>
                <td></td>
                <td><%=t.tid%></td>
                <td><%-t.title%></td>
                <td><%=t.catename%></td>
                <td><%-t.tcontent%></td>
                <td><%=t.keywords%></td>
                <td><%=t.comefrom%></td>
                <td><%=t.username%></td>
                <td><%=t.addtimes.toLocaleString()%></td>
                 <td>
                    <a href="###" class="deltech layui-btn layui-btn-danger layui-btn-xs" tid="<%=t.tid%>"><i class="layui-icon">&#xe640;</i></a>
                    <a href="/admin/updatetech?tid=<%=t.tid%>" class="layui-btn layui-btn-xs"><i class="layui-icon">&#xe642;</i></a>
                </td>
          </tr>
          <%}%>
        </tbody>
      </table>
    <% include footer.html%>