<% include head.html%>
<% include aside.html%>
<article class="layui-body">
    <div class="mymain">
        <span class="layui-breadcrumb">
            <a href="/admin">首页</a>
            <a href="###">教程管理</a>
            <a><cite>修改教程</cite></a>
        </span>
        <hr>
        <form class="layui-form" action="" id="updatetech">
            <div class="layui-form-item">
                <label class="layui-form-label">教程标题<span class="H">*</span></label>
                <div class="layui-input-block">
                    <div id="titleeditor" style="width:800px;"></div>
                        
                        <textarea name="title" id="title" style="display:none" required lay-verify="required" placeholder="请输入" class="layui-textarea"></textarea>
                </div>
            </div>
    
            <div class="layui-form-item">
                <label class="layui-form-label">分类</label>
                <div class="layui-input-block selectblock">
                    <select name="cid" lay-verify="required" lay-search>
                        <% for (let c of catelist){ %>
                        <option value="<%=c.cid%>"><%=c.catename%></option>
                        <%}%>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">内容<span class="H">*</span></label>
                <div class="layui-input-block">
                    <div id="techconeditor" style="width:800px;"></div>
                        <textarea name="techcon" id="techcon" style="display:none" required lay-verify="required" placeholder="请输入" class="layui-textarea"></textarea>
                </div>
            </div>    
            <div class="layui-form-item">
                <label class="layui-form-label">关键词</label>
                <div class="layui-input-block">
                    <input type="text" name="keywords" placeholder="多个关键词使用空格分开" value="<%=techlist[0].keywords%>" autocomplete="off"
                        class="layui-input">
                </div>
            </div>    
            <div class="layui-form-item">
                <label class="layui-form-label">来源</label>
                <div class="layui-input-block">
                    <input type="text" name="comefrom" value="<%=techlist[0].comefrom%>"  autocomplete="off" class="layui-input">
                </div>
            </div>
                    <!-- <label class="layui-form-label">所修改教程的id</label> -->
                        <input type="hidden" name="tid" value="<%=techlist[0].tid%>"  autocomplete="off" class="layui-input">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="button" lay-submit lay-filter="updatetech">确定修改</button>
                </div>
            </div>
        </form>
    </div>  
<% include footer.html%>
<script src="http://unpkg.com/wangeditor/release/wangEditor.min.js"></script>
    <script type="text/javascript">
    window.onload = function(){
        var E = window.wangEditor;
        // 标题的编辑器
            var titleeditor = new E('#titleeditor');
            // 配置服务器端地址
            titleeditor.customConfig.uploadImgServer = '/uploads';
            titleeditor.customConfig.uploadFileName = 'images';
            // 同步内容到textarea
            var $title = $('#title');
            titleeditor.customConfig.onchange = function (html) {
                $title.val(html);
            }
            titleeditor.create();
            titleeditor.txt.html('<%-techlist[0].title%>');
        // 内容的编辑器
            var techconeditor = new E('#techconeditor');
            // 配置服务器端地址
            techconeditor.customConfig.uploadImgServer = '/uploads';
            techconeditor.customConfig.uploadFileName = 'images';
            // 同步内容到textarea
            var $techcon = $('#techcon');
            techconeditor.customConfig.onchange = function (html) {
                $techcon.val(html);
            }
            techconeditor.create();
            techconeditor.txt.html('<%-techlist[0].tcontent%>');
    }
    </script>
    <script>
        $('footer').css({'position':'relative','margin-left':'0px'});
    </script>