<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户注册</title>
    <link href="/css/signin.css" rel="stylesheet">

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>

    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading">用户注册</h2>
            <label for="inputUsername" class="sr-only">用户名</label>
            <input type="username" id="inputUsername" class="form-control" placeholder="用户名" required autofocus>
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
            <label for="inputCode" class="sr-only">验证码</label>
            <input type="code" id="inputCode" class="form-control" placeholder="验证码" required>
            <div class="coder">
                <img src="/coder" alt="" id="codeimg">
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
        </form>

    </div>



</body>

</html>