<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户主页</title>
    <link href="/css/userindex.css" rel="stylesheet">

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/userindex.js"></script>
 </head>
 <body>
    <div class="user-bg user-cover-bg">
        <div class="user-avatar">
        <div class="avatar">
        
        </div>
        </div>
        <div class="user-numbers-div">
        </div>
        <h2><%=users.username%></h2>
        <br>
        <div class="user-stats">
        <ul>
        <li>UID: <span class="badge badge-inverse"><%=users.uid%></span></li>
        <li>用户名：<%=users.username%></li>
     
        <li>上次登录时间：<span><%=users.lasttimes.toLocaleString()%></span></li>
        </ul>
        <a href="/users/updata" class="btn  btn-info btn-large">投稿</a>
        </div>
        <br>
        <div class="clear-fix"></div>
        </div>

 </body>
</html>